@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", MVC.Home.Index(), new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Maintain Reports", MVC.Report.Index())</li>
                <li>@Html.ActionLink("Databases", MVC.Database.Index())</li>
                <li>@Html.ActionLink("Configuration", MVC.ReportingConfig.Index())</li>
                <li>@Html.ActionLink("Backups", MVC.Backups.Index())</li>
            </ul>
        </div>
    </div>
</div>

<div class="container admin-content">
    <div id="alert-placeholder"></div>

    @RenderBody()

</div>

@section scripts{
    @RenderSection("scripts", required: false)

    <script language="javascript">
        $(document).ready(function() {
            // Generalised delete button for entries in the tables
            $('.delete-by-ajax').on('click', function(event) {
                event.stopPropagation();
                var self = $(this);
                var postData = {};
                postData[self.data("parameter-name")] = self.data("id");

                var confirmation = confirm('Are you sure you want to delete this record?');
                if (confirmation) {
                    $.ajax({
                        type: 'POST',
                        url: self.data('url'),
                        data: postData,
                        error: function() {
                            $.showWarning('Could not delete record');
                        },
                        success: function(data) {
                            if (data.Success) {
                                $.showSuccess(data.SuccessMessage);
                                self.closest('tr').delay(500).fadeOut(1000);
                            } else {
                                $.showWarning('Unable to delete the record: ' + data.FailureMessage);
                            }
                        }
                    });
                }
                return false;
            });

            var refreshPreview = function(data) {
                $('#previewContainer').fadeOut(500, function () {
                    $('#previewContainer').html(data);
                    $('#previewContainer').fadeIn(500);
                });
            };

            var refreshSqlTextBox = function(data) {
                $('#Sql').fadeOut(500, function() {
                    $('#Sql').val(data);
                    $('#Sql').fadeIn(500);
                });
            };

            // when user is submitting row html
            $('#parseRowHtml').on('click', function() {
                var postData = {};
                postData['rawData'] = $('#Sql').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.Preview.ParseHtml())',
                    data: postData,
                    error: function () {
                        $.showWarning('Communication Error: could not connect to the server');
                    },
                    success: function (data) {
                        if (data.IsSuccess) {
                            refreshSqlTextBox(data.Payload);
                        } else {
                            $.showWarning(data.ErrorMessage);
                        }
                    },
                });
            });

            // on report create/edit show the data returned by the sql server
            $('#previewData').on('click', function() {
                var postData = {};
                postData['sql'] = $('#Sql').val();
                postData['databaseId'] = $('#DatabaseId').val();
                postData['reportType'] = $('#ReportType').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.Preview.Data())',
                    data: postData,
                    error: function() {
                        $.showWarning('Communication Error: could not connect to the server');
                    },
                    success: refreshPreview,
                });
            });

            // cleanse and format SQL string
            $('#cleanseAndFormatSql').on('click', function() {
                var postData = {};
                postData['sql'] = $('#Sql').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.Preview.CleanseAndFormatSql())',
                    data: postData,
                    error: function() {
                        $.showWarning('Communication Error: could not connect to the server');
                    },
                    success: refreshSqlTextBox,
                });
            });

            // on report create/edit show the actual report in the same window
            $('#previewFullReport').on('click', function () {
                var valid = $('form').valid();
                if (valid) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action(MVC.Preview.Report())',
                        data: $('form').serialize(),
                        error: function() {
                            $.showWarning('Communication Error: could not connect to the server');
                        },
                        success: refreshPreview,
                    });
                }
            });

            // sortable list for reordering of groups
            $('.sortable').sortable();

            $('.submit-by-ajax').on('submit', function (ev) {
                ev.preventDefault();

                var $form = $(this);

                $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    error: function () {
                        $.showWarning('Could not submit form');
                    },
                    success: function (data) {
                        if (data.Success) {
                            $.showSuccess(data.SuccessMessage);
                        } else {
                            $.showWarning('Unable to submit form: ' + data.FailureMessage);
                        }
                    }
                });
            });
        });
    </script>
}