<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    @Styles.Render(Bundles.ClientCss)
    @RenderSection("css", required: false)
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->
    <script src="~/Scripts/es5-shim.min.js"></script>

    @Scripts.Render(Bundles.ClientJs)
    @RenderSection("scripts", required: false)

</head>
<body>

    @RenderBody()

<script type="text/javascript" language="javascript">

    $('#treetable').persistedTreeTable({
        persist: true,
        expandable: true,
        clickableNodeNames: true
    });

    $('.expand-all').on('click', function () {
        $('#treetable').treetable('expandAll');
        return false;
    });

    $('.collapse-all').on('click', function () {
        $('#treetable').treetable('collapseAll');
        return false;
    });

</script>

</body>
</html>
