@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}
@section css
{
    @Styles.Render(Bundles.AdminCss)
    @RenderSection("css", required: false)
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", MVC.Home.Index(), new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Maintain Reports", MVC.Report.Index())</li>
                <li>@Html.ActionLink("Templates", MVC.Template.Index())</li>
                <li>@Html.ActionLink("Databases", MVC.Database.Index())</li>
                <li>@Html.ActionLink("Configuration", MVC.ReportingConfig.Index())</li>
                <li>@Html.ActionLink("Backups", MVC.Backups.Index())</li>
            </ul>
        </div>
    </div>
</div>


@RenderBody()


@section scripts{
    @Scripts.Render(Bundles.AdminJs)

    @RenderSection("scripts", required: false)
}