@{
    Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
}
@section css
{
    @RenderSection("css", required: false)
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", MVC.Home.Index(), new { @class = "navbar-brand" })</li>
                <li>@Html.ActionLink("Maintain Reports", MVC.Report.Index())</li>
                <li>@Html.ActionLink("Databases", MVC.Database.Index())</li>
            </ul>
        </div>
    </div>
</div>
<div id="alert-placeholder"></div>

<div class="container admin-content">
    @RenderBody()
</div>

@section scripts{
    @RenderSection("scripts", required: false)

    <script language="javascript">
        $(document).ready(function () {
            // Generalised delete button for entries in the tables
            $('.delete-by-ajax').on('click', function (event) {
                event.stopPropagation();
                var self = $(this);
                var postData = {};
                postData[self.data("parameter-name")] = self.data("id");

                var confirmation = confirm('Are you sure you want to delete this record?');
                if (confirmation) {
                    $.ajax({
                        type: 'POST',
                        url: self.data('url'),
                        data: postData,
                        error: function () {
                            $.showWarning('Could not delete record');
                        },
                        success: function (data) {
                            if (data.Success) {
                                $.showSuccess(data.SuccessMessage);
                                self.closest('tr').delay(500).fadeOut(1000);
                            } else {
                                $.showWarning('Unable to delete the record: ' + data.FailureMessage);
                            }
                        }
                    });
                }
                return false;
            });

            // on report create/edit show the data returned by the sql server
            $('#previewData').on('click', function () {
                var postData = {};
                postData['sql'] = $('#Sql').val();
                postData['databaseId'] = $('#DatabaseId').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.Preview.Data())',
                    data: postData,
                    error: function () {
                        $.showWarning('Communication Error: could not connect to the server');
                    },
                    success: function (data) {
                        $('#previewContainer').html(data);
                    },
                });
            });

            // on report create/edit show the actual report in the same window
            $('#previewFullReport').on('click', function () {
                var postData = {};
                postData['ReportType'] = $('#ReportType').val();
                postData['DatabaseId'] = $('#DatabaseId').val();
                postData['Sql'] = $('#Sql').val();
                postData['JavaScript'] = $('#JavaScript').val();
                postData['Css'] = $('#Css').val();

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action(MVC.Preview.Report())',
                    data: postData,
                    error: function () {
                        $.showWarning('Communication Error: could not connect to the server');
                    },
                    success: function (data) {
                        $('#previewContainer').html(data);
                    },
                });
            });

            // sortable list for reordering of groups
            $('.sortable').sortable();
        });
    </script>
}