@model ReportDetailsViewModel

@Html.AntiForgeryToken()
@Html.ValidationSummary(false)


<!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li><a href="#basic" data-toggle="tab">Basic Details</a></li>
    <li><a href="#code" data-toggle="tab">Code</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-4">
    <div class="tab-pane active" id="basic">
        <div class="form-group">
            @Html.LabelFor(m => m.ReportGroupId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ReportGroupId, Model.PossibleGroups, "Choose...", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReportGroupId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Title)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.DatabaseId, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.DatabaseId, Model.PossibleDatabases, "Choose...", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.DatabaseId)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Enabled, new { @class = "control-label" })
            @Html.CheckBoxFor(m => m.Enabled)
            @Html.ValidationMessageFor(m => m.Enabled)
        </div>
    </div>
    <div class="tab-pane" id="code">
        <div class="form-group">
            @Html.LabelFor(m => m.ReportType, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.ReportType, new ReportType().ToSelectListItems(), "Choose...", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ReportType)
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Sql, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Sql, new { @class = "form-control", rows = 10 })
            @Html.ValidationMessageFor(m => m.Sql)
            <a id="previewData">Preview Data <span class="glyphicon glyphicon-forward"></span></a>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.JavaScript, new { @class = "control-label" })
            <div>Report element is #report. So you'll need JS to point to this element</div>
            @Html.TextAreaFor(m => m.JavaScript, new { @class = "form-control", rows = 10 })
            @Html.ValidationMessageFor(m => m.JavaScript)
            <a id="previewFullReport">Preview Report <span class="glyphicon glyphicon-forward"></span></a>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Css, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Css, new { @class = "form-control", rows = 7 })
            @Html.ValidationMessageFor(m => m.Css)
        </div>

    </div>
    <input type="submit" value="Save" class="btn btn-default" />
    @Html.ActionLink("Back To List", MVC.Report.Index(), new { @class = "btn btn-default" })
</div>
<div class="col-md-5" id="previewContainer"></div>