@model AmvReporting.Domain.Reports.Commands.CreateReportCommand

<div class="form-group">
    @Html.LabelFor(m => m.ReportGroupId, new { @class = "control-label" })
    @Html.Domain().Dropdown(m => m.ReportGroupId, new ReportsGroupsDropdownQuery())
    @Html.ValidationMessageFor(m => m.ReportGroupId)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Title, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.DatabaseId, new { @class = "control-label" })
    @Html.Domain().Dropdown(m => m.DatabaseId, new DatabaseDropdownQuery())
    @Html.ValidationMessageFor(m => m.DatabaseId)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control", rows = 10 })
    @Html.ValidationMessageFor(m => m.Description)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Enabled, new { @class = "control-label" })
    @Html.CheckBoxFor(m => m.Enabled)
    @Html.ValidationMessageFor(m => m.Enabled)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ReportType, new { @class = "control-label" })
    @Html.Domain().Dropdown(m => m.ReportType, new ReportType().ToSelectListItems())
    @Html.ValidationMessageFor(m => m.ReportType)
</div>