@model MenuModel

@{
    ViewBag.Title = "Maintain Reports";
}

<h2>Maintain Reports</h2>

<div class="row">
    <div class="col-md-9">
        <p>
            @Html.ActionLink("Create New Report", MVC.Report.Create(), new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Create New Group", MVC.ReportGroup.Create(), new { @class = "btn btn-primary btn-lg" })
        </p>
        <p>
            <a class="expand-all btn btn-default btn-xs">Expand All</a>
            <a class="collapse-all btn btn-default btn-xs">Collapse All</a>
            @Html.ActionLink("Reorder Top Level", MVC.ReportGroup.Reorder(), new { @class = "btn btn-default btn-xs" })
        </p>
        <table id="treetable">
            @foreach (var menuNode in Model.MenuNodes)
            {
                @Html.EditorFor(_ => menuNode)
            }
            @foreach (var report in Model.TopLevelReports)
            {
                <tr data-tt-id="@report.Id">
                    <td class="col-md-5">
                        <span class="file">
                            @Html.ActionLink(report.Title, MVC.Report.Edit(report.Id.ToString()), new { @class = !report.Enabled ? "disabled-report" : "" })
                        </span>
                    </td>
                    <td class="col-md-2">
                        @Html.ActionLink("View", MVC.Home.Report(report.Id.ToString()), new { @class = "btn btn-default btn-xs" })
                        @Url.AjaxDeleteButton(MVC.Report.Delete(), report, i => i.Id.ToString())
                        @Html.ActionLink("Clone", MVC.Report.Clone(report.Id.ToString()), new { @class = "btn btn-default btn-xs" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>