@model DatabaseDetails
           
@Html.AntiForgeryToken()
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ConnectionString, new { @class = "control-label" })
    @Html.TextBoxFor(m => m.ConnectionString, new { @class = "form-control" })
    <a id="checkConnection">Check Connection</a> <span id="connectionCheckingResult"></span>
    @Html.ValidationMessageFor(m => m.ConnectionString)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Description, new { @class = "control-label" })
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description)
</div>