@model EditReportDetailsViewModel

@{
    ViewBag.Title = "Edit Report";
}
@section scripts{
    @Html.Partial(MVC.ReportDetails.Views._CommonJavaScript)
}
@section css{
    
}



<h2>Edit Report</h2>
@using (Html.BeginForm(MVC.ReportDetails.Edit(), FormMethod.Post, new { role = "form"}))
{
    @Html.ValidationSummary(false)
    @Html.HiddenFor(m => m.Id)
    @Html.Partial(MVC.ReportDetails.Views._CreateEdit, Model)
    <div class="row">
        
        <input type="submit" value="Save" class="btn btn-default" />
        @Html.ActionLink("Back To List", MVC.ReportDetails.Index(), new { @class = "btn btn-default" })
    </div>
}
