@model AmvReporting.Domain.Templates.Queries.CompareTemplateToLatestViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdminContainerFree.cshtml";
    ViewBag.Title = "Compare Revision to Latest";
}

@section css
{
    @Styles.Render("~/Content/mergely_css")
}


<div class="admin-content">
    <div class="container">
        <h2>Compare Template "@Model.Title" Revision #@Model.RevisionNumber to Latest</h2>
        <div role="tabpanel" class="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li>@Html.ActionLink("Edit", MVC.Template.Update(Model.AggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
                <li class="active">@Html.ActionLink("Revisions", MVC.Template.ViewRevisions(Model.AggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
            </ul>
        </div>

    </div>
    <h3 class="pull-right">Latest</h3>
    <h3>Revision #@Model.RevisionNumber below</h3>
    <div id="compare"></div>

    <pre id="revision" class="hidden">@Html.Raw(Model.RevisionJson)</pre>
    <pre id="latest" class="hidden">@Html.Raw(Model.LatestJson)</pre>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/mergely_js")

    <script>
        $(document).ready(function () {
            var revision = $('#revision')[0].innerHTML;
            var latest = $('#latest')[0].innerHTML;
            $('#compare').mergely({
                width: 'auto',
                height: 600,
                ignorews: true,
                cmsettings: { readOnly: true, lineNumbers: true },
                lhs: function (setValue) {
                    setValue(revision);
                },
                rhs: function (setValue) {
                    setValue(latest);
                }
            });
        });
    </script>
}
