@model AmvReporting.Domain.Preview.Queries.ReportResultPreview
@{
    Layout = null;
}

<style>
    @Html.Raw(Model.GlobalCss)
</style>

<div id="javascriptError"></div>

@Html.Raw(Model.TemplateHtml)
@Html.Raw(Model.ReportHtml)

<script type="text/javascript">
    @Html.Raw(Model.GlobalJs)

    $(document).ready(function () {
        try {
            @Html.Raw(Model.Data)

            @Html.Raw(Model.TemplateJavascript)

            @Html.Raw(Model.ReportJavaScript)
        } catch (e) {
            $('#javascriptError').html('<span class="glyphicon glyphicon-remove-circle"></span> JavaScript Error: ' + e.message).addClass('alert-danger javascriptError');
        }
    });
</script>