@model ReportResult

@{
    ViewBag.Title = Model.Title;
}
@section css
{
    <style>
        @Model.Css
    </style>
}

<h2>@Model.Title</h2>

@if (Model.ReportType == ReportType.Table)
{
    <table id="report"></table>
}
@if (Model.ReportType == ReportType.LineChart)
{
    <div class="row">
        <div class="col-md-8 graph-container">
            <div id="report" style="height: 600px;"></div>
        </div>
        <div class="col-md-4" id="choices">
            
        </div>
    </div>
}


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var columns = @Html.Raw(Model.Columns);
            var data = @Html.Raw(Model.Data);
            @Html.Raw(Model.JavaScript)
        });
    </script>
}
