@model ReportResult

@{
    ViewBag.Title = Model.Title;
}
@section css
{
    <style>
        @Model.GlobalCss
        @Model.Css
    </style>
}

@Html.ActionLink("Edit", MVC.Report.Edit(Model.AggregateId), new { @class = "admin-link btn btn-default btn-xs" })

@Html.ActionLink("Home", MVC.Home.Index(), new { @class = "btn btn-primary" })

<h2>@Model.Title</h2>

<h5>
    @Model.Description
</h5>

@{
    if (!String.IsNullOrEmpty(Model.HtmlOverride))
    {
        @Html.Raw(Model.HtmlOverride);
    }
    else if (Model.ReportType == ReportType.Table)
    {
        <table id="report"></table>
    }
    else if (Model.ReportType == ReportType.LineChart)
    {
        <div class="graph-container">
            <div id="report" style="height: 600px;"></div>
        </div>
    }
    else if (Model.ReportType == ReportType.LineChartWithSelection)
    {
        <div class="row">
            <div class="col-md-8 graph-container">
                <div id="report" style="height: 600px;"></div>
            </div>
            <div class="col-md-4" id="choices"></div>
        </div>
    }
    else if (Model.ReportType == ReportType.GoogleGraphs)
    {
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script>
            // load google chart api
            google.load('visualization', '1.0', { 'packages': ['corechart'] });
        </script>
        <div class="graph-container">
            <div id="report" style="height: 600px;"></div>
        </div>
    }
}



@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            @Html.Raw(Model.Data)

            @Html.Raw(Model.GlobalJs)

            @Html.Raw(Model.JavaScript)
        });
    </script>
}
