@model ReportResult

@{
    ViewBag.Title = Model.Title;
}
@section css
{
    <link href="@Url.Content(Links.Content.DataTables_1_9_4.media.css.jquery_dataTables_css)" rel="stylesheet" type="text/css" />
    <link href="@Url.Content(Links.Content.DataTables_1_9_4.media.css.jquery_dataTables_themeroller_css)" rel="stylesheet" type="text/css" />
    <style>
        @Model.Css
    </style>
}

@section scripts
{
    <script src="@Url.Content(Links.Scripts.DataTables_1_9_4.media.js.jquery_dataTables_min_js)"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var columns = @Html.Raw(Model.Columns);
            var data = @Html.Raw(Model.Data);
            @Html.Raw(Model.JavaScript)
        });
    </script>
}




<h2>@Model.Title</h2>



<table id="report"></table>

