@inherits WebViewPage<MenuNode>

<tr data-tt-id="@Model.ReportGroupId" data-tt-parent-id="@Model.ReportGroupParentId">
    <td><span class='folder @(Model.Enabled ? "" : "disabled-report")'>@Model.ReportGroupTitle</span></td>
    <td>
        @Html.ActionLink("Edit", MVC.ReportGroup.Edit(Model.ReportGroupId), new { @class = "btn btn-default btn-xs" })
        @Url.AjaxDeleteButton(MVC.ReportGroup.Delete(), Model.ReportGroupId, "Id")
        @Html.ActionLink("Reorder", MVC.ReportGroup.Reorder(Model.ReportGroupId), new { @class = "btn btn-default btn-xs" })
    </td>
</tr>
@foreach (var menuNode in Model.MenuNodes)
{
    @Html.EditorFor(_ => menuNode)
}
@foreach (var report in Model.Reports)
{
    <tr data-tt-parent-id="@report.ReportGroupId" data-tt-id="@report.AggregateId">
        <td>
            <span class="file">
                @Html.ActionLink(report.Title, MVC.Report.UpdateCode(report.AggregateId), new { @class = !report.Enabled ? "disabled-report" : "" })
            </span>
        </td>
        <td>
            @Html.ActionLink("View", MVC.Home.ReportAggregate(report.AggregateId), new { @class = "btn btn-default btn-xs" })
            @Url.AjaxDeleteButton(MVC.Report.Delete(), report, i => i.AggregateId)
            @Html.ActionLink("Clone", MVC.Report.Clone(report.AggregateId), new { @class = "btn btn-default btn-xs" })
        </td>
    </tr>
}