@model CompareToLatestViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdminContainerFree.cshtml";
    ViewBag.Title = "Compare Revision to Latest";
}

@section css
{
    @Styles.Render("~/Content/mergely_css")
}


<div class="admin-content">
    <div id="alert-placeholder"></div>
    <div class="container">
        <h2>Compare Revision #@Model.RevisionNumber to Latest</h2>

        <div role="tabpanel" class="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li>@Html.ActionLink("Meta", MVC.Report.UpdateMetadata(Model.AggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
                <li>@Html.ActionLink("Code", MVC.Report.UpdateCode(Model.AggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
                <li class="active">@Html.ActionLink("Revisions", MVC.ReportRevisions.ViewAllVersions(Model.AggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
            </ul>
        </div>
    </div>
    <div id="compare"></div>

    <div id="revision" class="hidden">@Model.RevisionJson</div>
    <div id="latest" class="hidden">@Model.LatestJson</div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/mergely_js")

    <script>
        $(document).ready(function () {
            var revision = $('#revision')[0].innerHTML;
            var latest = $('#latest')[0].innerHTML;
            $('#compare').mergely({
                cmsettings: { readOnly: false, lineNumbers: true },
                lhs: function (setValue) {
                    setValue(revision);
                },
                rhs: function (setValue) {
                    setValue(latest);
                }
            });
        });
    </script>
}
