@model IEnumerable<ReportRevision>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Report Revisions";
    var aggregateId = Model.First().AggregateId;
}

<h2>Report Revisions</h2>

<!-- Nav tabs -->
<div role="tabpanel" class="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Meta", MVC.Report.UpdateMetadata(aggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
        <li>@Html.ActionLink("Code", MVC.Report.UpdateCode(aggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
        <li class="active">@Html.ActionLink("Revisions", MVC.ReportRevisions.ViewAllVersions(aggregateId), new { role = "tabpanel", @class = "tab-pane" })</li>
    </ul>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Rev #</th>
            <th>Date</th>
            <th>User</th>
            <th>Action</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var revision in Model)
    {
        <tr>
            <td>@revision.RevisionNumber</td>
            <td title="@String.Format("{0:dd/MM/yyyy HH:mm:ss.fffffff}", revision.CommitDate)">@String.Format("{0:dd MMM yy}", revision.CommitDate)</td>
            <td>@revision.Username</td>
            <td>@revision.EventDescription</td>
            <td>
                @if (revision.RevisionNumber < Model.Max(r => r.RevisionNumber))
                {
                    @Html.ActionLink("View Revision", MVC.ReportRevisions.ViewRevision(revision.AggregateId, revision.RevisionNumber), new { @class = "btn btn-sm btn-default" })
                    <text>&nbsp;</text>
                    @Html.ActionLink("Compare to Latest", MVC.ReportRevisions.CompareToLatest(revision.AggregateId, revision.RevisionNumber), new { @class = "btn btn-sm btn-success" })
                }
                else
                {
                    <text>Latest</text>
                }
            </td>
        </tr>
    }
</table>