@model ReportGroupViewModel

@{
    ViewBag.Title = "New Report Group";
}

<h2>New Report Group</h2>

@using (Html.BeginForm(MVC.ReportGroup.Create(), FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(r => r.ParentReportGroupId, new { @class = "control-label" })
        @Html.DropDownListFor(r => r.ParentReportGroupId, Model.PossibleParents, "Choose...", new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.ParentReportGroupId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Title, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Enabled, new { @class = "control-label" })
        @Html.CheckBoxFor(m => m.Enabled)
        @Html.ValidationMessageFor(m => m.Enabled)
    </div>


    <input type="submit" value="Create" class="btn btn-default" />
    @Html.ActionLink("Back To List", MVC.Report.Index(), new { @class = "btn btn-default" })
}