@model IEnumerable<ReportGroup>

@{
    ViewBag.Title = "Report Groups";
}

<h2>All Report Groups</h2>

<div class="row">
    <div class="col-md-9">
        <p>
            @Html.ActionLink("New Group", MVC.ReportGroup.Create(), new { @class = "btn btn-primary btn-lg" })
        </p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 150px;"></th>
                    <th>@Html.DisplayNameFor(m => m.Title)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-sm-2">
                            @Html.ActionLink("Edit", MVC.ReportGroup.Edit(item.Id))
                            @Url.AjaxDeleteButton(MVC.ReportGroup.Delete(), item, i => i.Id)
                        </td>
                        <td>@Html.DisplayFor(_ => item.Title)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>